@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background-color: rgb(238, 235, 238);
  box-sizing: border-box;
}

.jumbotron {
  background: #fff url('../img/desk-1.jpeg') 0/cover no-repeat;
  height: 800px;
  max-width: 1355px;
  margin: 0 auto;
}

header {
  margin-bottom: 50px;
}

nav a {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

h1, h3.meet {
  color: #fff;
}

h1 {
  font-family: DroidSerif;
  font-size: 45px;
  font-style: italic;
  padding-bottom: 30px;
}

h3.meet {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 70px;
  padding-bottom: 50px;
}

.greet {
  padding-top: 150px;
}

.golden {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  color: gold;
  font-size: 22px;
  letter-spacing: 2px;
  display: flex;
}

.golden span {
  margin: auto;
}

.btn-container {
  display: flex;
}

.btn-more {
  width: 240px;
  height: 65px;
  border-radius: 3px;
  background-color: #fed136;
  border: none;
  margin: auto;
}

.row .golden {
  color: gold;
}

/* hr {
  transform: rotate(90deg);
  width: 120%;
} */

@media(min-width: 576px) {
  header {
    margin-top: -50px;
  }

}

@media(max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  h3.meet {
    font-size: 50px;
  }
}
